h1 {
    color: rgba(255, 255, 255, 0.822);
    font-size: 3rem;
    padding-bottom: 0px;
    margin-bottom: 1%;
}

h2 {
    color: rgb(5, 110, 14);
    font-size: 2rem;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

h3 {
    color: white;
}
p {
    color: white;
    font-size: 20px;
}

canvas {
    height: 100vh;
    z-index: -10;
    position: fixed;
    top: 0px;
}

.main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.mern__logo {
    width: 120px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    object-fit: contain;
}
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.footer__logo {
    display: flex;
    justify-content: center;
    
}

.logo {
    width: 70px;
}

.footer {
    margin-top: 20px;
    bottom: 1px;
    width: 100%;
    text-align: center;
}
.footer__content > p {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Poiret One', cursive
}


.mid {
    margin-top: 30px;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column__one {
    margin-left: 9%;
}
.column__two {
    margin-left: 9%
}

.column__three {
    display: flex;
    margin-top: 50px;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 9%;
    max-width: 80%;
    flex-wrap: wrap;
}

.projects {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-width: 50px;
    padding: 20px;
    width: 60%;
    margin: 10px;
}

.project__overview {
    margin-top: 10px;
    margin-left: 18px;
}

.project__overview > a {
    font-weight: 700;
}

.project__content {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.project__img {
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
    border: solid cyan 1px;

}

.resume {
    font-size: 25px;
    border-radius: 30px;
    margin-left: 3%;
}

.email {
    color: rgb(5, 110, 14);
}

.resume:hover {
    color:  rgb(5, 110, 14);
}

.contact__container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

textarea {
    height: 200px;
    width: 90%;
    max-width: 90%;
}

input {
    width: 90%;
    max-width: 90%;
}

button {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 10px;
    margin-top: 15px;
    width: 50%;
    align-self: center;
}

button:hover {
    border-color: cyan;
    color:cyan;
}
/* CSS Icon Style */

.fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 15px;
    border-radius: 50%
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

#footergit {
    background: white;
    color:black;
}

.fa-github {
    background: white;
    color: black;
}

.smallIcons {
    width: 60px;
}

.iconBackground {
    background-color: white;
    border-radius: 30px;
}

.npm {
    width: 60px;
    background-color: red;
    border-radius: 30px;
}

.bootstrap {
    width: 60px;
    background-color:purple;
    border-radius: 30px;
}