body {
  margin: 0;
  background-color: rgb(10, 10, 10);
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
  
}
a {
  font-size: 20px;
  color: #bbbbc4;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
a:hover {
  color: cyan;
}

li {
  margin-bottom: 10px;
}
span {
  font-size: 15px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
